Source: pantheon-agent-geoclue2
Section: admin
Priority: optional
Maintainer: David Hewitt <davidmhewitt@gmail.com>
Build-Depends: cmake (>= 2.8),
               cmake-elementary,
               debhelper (>= 9),
               libgtk-3-dev,               
               libgeoclue-2-dev,
               libdbus-glib-1-dev,
               valac (>= 0.34.1),
               config-package-dev (>= 5.0),
               geoclue-2.0 
Standards-Version: 3.9.7

Package: pantheon-agent-geoclue2
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, geoclue-2.0
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: GeoClue2 authorization designed for Pantheon
 An agent for GeoClue2 authorization designed for Pantheon desktop environment.
