[Desktop Entry]
Name=GeoClue2 Authentication Agent
Comment=GeoClue2 Authentication Agent
Exec=/usr/libexec/geoclue2-1-pantheon/pantheon-agent-geoclue2
Terminal=false
Type=Application
Categories=
NoDisplay=true
OnlyShowIn=Pantheon;
X-GNOME-AutoRestart=true
AutostartCondition=GNOME3 unless-session gnome
